<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test Blog">
	
    <test name="BlogProject Test">
         <classes>
         
           <!--  <class name="com.automationblog.qa.LoginTest.TestBlogPage"/> -->
             <class name="com.automationblog.qa.LoginTest.XlsDataProvider"/> 
           
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->